* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  /* background-color: #333; */
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.footer p {
  text-align: center;
  margin-bottom: 20px;
}

.footer input {
  border-radius: 20px;
  padding: 10px 30px;
  border: none;
  background: #f7f1e3;
}

.footer .button {
  display: inline;
  background-color: #afde29;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: 700;
  cursor: pointer;
}

.footer img {
  width: 100%;
}
