* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.whychooseus {
  padding: 20px;
  text-align: center;
}

.whychooseus h2 {
  text-align: left;
  font-size: 30px;
  margin-left: 20px;
}

.whychooseus p {
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}

.whychooseus-grid {
  display:flex;
  flex-wrap: wrap;
  text-align: left;
}

.whychooseus-card {
  background-color: #afde29;
  color: #000;
  margin: 20px;
  padding: 20px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
}
