@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .header-nav,
  .whychooseus-card,
  .project-card {
    width: 100%;
  }
}
